*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
parser.mli
parser.ml
parser.output
lexer.ml
.DS_Store

# ocamlbuild working directory
_build/

# ocamlbuild targets
*.byte
*.native

# oasis enerated files
setup.data
setup.log
